.gradiant{
    background: linear-gradient(135deg, rgb(0, 97, 242) 0%, rgb(105, 0, 199) 100%);
};

.custom-shape-divider{
  position: relative;
  padding : 2rem;

}



.custom-shape-divider-bottom-1713354269 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1713354269 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 65px;
}

.custom-shape-divider-bottom-1713354269 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top-1713376697 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1713376697 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 65px;
}

.custom-shape-divider-top-1713376697 .shape-fill {
    fill: #FFFFFF;
}

.icons {
    height: 3rem;
    width: 3rem;
    color: #FFFFFF;
    font-size: 1.7rem;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

