.menu {
  list-style-type: none;
  width: 300px;
}
ul.menu li {
  padding: 10px 0;
}
ul.menu li:hover {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.d_hide {
  display: none;
}
.d_show {
  display: block;
}
